<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net452" developmentDependency="true" />
  <package id="Fody" version="2.3.8" targetFramework="net462" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.6.10" targetFramework="net462" />
  <package id="LiteDB" version="4.1.0" targetFramework="net462" />
  <package id="MailKit" version="2.0.0" targetFramework="net462" />
  <package id="MimeKit" version="2.0.0" targetFramework="net462" />
  <package id="Polly" version="5.6.1" targetFramework="net462" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net452" />
</packages>